
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilos/estilos.css">
    <link rel="shortcut icon" href="../static/img/face1.jpg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    
    <title>Instituto Celsius</title>
</head>



<body>
    <header>


        <nav>

            <a href="#">Inicio</a>
            <a href="#">Acerca de</a>
            <a href="#">Portafolio</a>
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>


        </nav>
        

        <section class="textos-header">

            <h1>
                Potencia tus ventas un 200%
            </h1>
            <h2>
                Con una pagina web potente
            </h2>


        </section>

        <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.23,116.63 C150.00,149.60 349.20,-49.85 502.48,92.02 L500.00,149.60 L-0.00,149.60 Z" style="stroke: none; fill: rgb(250, 250, 250);"></path></svg></div>

    
    </header>


    <main>


        <section class="contenedor sobre-nosotros">

            <h2>

                Nuestro Producto
            </h2>

            <div class="contenedor-sobre-nosotros">

                <img src="../static/img/ilustracion2.svg" alt="" class="imagen-about-us">

                <div class="contenido-textos">

                    <h3>
                        <span>

                            1

                        </span>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, laudantium! Ducimus odio maiores dolor illo corrupti eveniet vel, vitae iure sequi distinctio possimus, nulla provident, error recusandae tempora perferendis voluptate.</p>
                    </h3>
                    <h3>
                        <span>

                            2

                        </span>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, laudantium! Ducimus odio maiores dolor illo corrupti eveniet vel, vitae iure sequi distinctio possimus, nulla provident, error recusandae tempora perferendis voluptate.</p>
                    </h3>

                </div>



            </div>

        </section>


        <section class="portafolio">

            <div class="contenedor">

                <h2>
                    Portafolio
                </h2>


                <div class="galeria-port">

                    <div class="image-port">

                        <img src="../static/img/img1.jpg" alt="">

                        <div class="hover-galeria">

                            <img src="../static/img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>


                    </div>
                    <div class="image-port">

                        <img src="../static/img/img2.jpg" alt="">

                        <div class="hover-galeria">

                            <img src="../static/img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>


                    </div>
                    <div class="image-port">

                        <img src="../static/img/img3.jpg" alt="">

                        <div class="hover-galeria">

                            <img src="../static/img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>


                    </div>
                    <div class="image-port">

                        <img src="../static/img/img4.jpg" alt="">

                        <div class="hover-galeria">

                            <img src="../static/img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>


                    </div>
                    <div class="image-port">

                        <img src="../static/img/img5.jpg" alt="">

                        <div class="hover-galeria">

                            <img src="../static/img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>


                    </div>
                    <div class="image-port">

                        <img src="../static/img/img6.jpg" alt="">

                        <div class="hover-galeria">

                            <img src="../static/img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>


                    </div>
                    <div class="image-port">

                        <img src="../static/img/img7.jpg" alt="">

                        <div class="hover-galeria">

                            <img src="../static/img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>


                    </div>
                    <div class="image-port">

                        <img src="../static/img/img8.jpg" alt="">

                        <div class="hover-galeria">

                            <img src="../static/img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>


                    </div>



                </div>

            </div>






        </section>


        <section class="clientes contenedor">

            <h2>
                Que dicen nuestros clientes
            </h2>


            <div class="card">

                <img src="../static/img/face1.jpg" alt="">

                <div class="contenido-texto-card">

                    <h4>
                        Nombre
                    </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, fuga!</p>

                </div>


            </div>


            <div class="card">

                <img src="../static/img/face2.jpg" alt="">

                <div class="contenido-texto-card">

                    <h4>
                        Nombre
                    </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, fuga!</p>

                </div>


            </div>







        </section>

        <section  class="about-services">

            <div  class="contenedor">

                <h2>
                    Nuestros servicios
                </h2>

                <div class="servicio-cont">

                    <div class="servicio-ind">

                        <img src="../static/img/ilustracion1.svg" alt="">

                        <h3> Name</h3>

                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, quo.</p>

                    </div>
                    <div class="servicio-ind">

                        <img src="../static/img/ilustracion4.svg" alt="">

                        <h3> Name</h3>

                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, quo.</p>

                    </div>
                    <div class="servicio-ind">

                        <img src="../static/img/ilustracion3.svg" alt="">

                        <h3> Name</h3>

                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, quo.</p>

                    </div>



                </div>


            </div>


        </section>

    </main>


    <footer>

        <div class="contenedor-footer">

            <div class="content-foo">

                <h4>
                    Phone
                </h4>

                <p>2342355</p>

            </div>
            
            <div class="content-foo">

                <h4>
                    Mail
                </h4>

                <p>celsius@gmail.com</p>

            </div>
            
            <div class="content-foo">

                <h4>
                    Location
                </h4>

                <p>zapata 655</p>

            </div>



        </div>


        <h2 class="titulo-final">  &copy; Santiago B | INSTITUTO CELSIUS

        </h2>





    </footer>


</body>
</html>